<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nihel - {% block title %} insert Title {% endblock %}</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: hsla(252, 36%, 24%);
            color: white;
        }
        .navlink{
            padding: .5em 2em;
        }
    </style>
</head>
<body>
    <nav>
        <ul style="display: flex; list-style: none; ">
            <li class="navlink">Courses</li>
            <li class="navlink">Classroom</li>
            <li class="navlink">Profile</li>
        </ul>
    </nav>
    {% block content %}
        enter content
    {% endblock %}
</body>
</html>